* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN";
}

a {
  text-decoration: none;
}


main{
  text-align: left;
  margin: 2em;
}

/*
.style-1 {
  text-align: left;
  margin: 30px 0;
  margin-left : 30px ;
}
*/
audio { width: 150px; }


table , td, th {
	border: 1px solid;
	border-collapse: collapse;
}
td, th {
	padding: 0.4em;
	width: auto;
	height: auto;
  text-align: center ;
}
th {
  background-color: rgba(135,206,250,1);
}


header {
  height:auto;
  width: 100%;
  background-color: rgba(135,206,250,1);
  top: 0;
  z-index: 10;
  text-align: center;
  padding: 1em;

}

.bottom{
  margin-bottom: 2em;
}

footer img {
  width: 125px;
}

footer p {
/*   color: #b3aeb5; */
  font-size: 12px;
}

footer {
  padding-top: 30px;
  padding-bottom: 20px;
}

  }


}
